

.navbar{
    opacity: 0.5;
   border-bottom: 1px solid black;
}
#fooTer{
    background-color: rgb(209, 19, 19);
    position: relative;
    top: 20vh;
    bottom: 0%;
  
}

.bg{
    color: black;
    /* border: 3px solid red; */
    background-color: red;
    background-image: linear-gradient(to right, red,yellow);
}


#headimg{
    display: block;
    margin:auto;
 
   
}

.mantra{
    /* border: 4px solid red; */
    display: block;
    margin:auto;
    text-align: center;
    padding: 50px;
}

.items{
    text-decoration: none;
    color: green;
    margin: 10px;
    border-radius: 5px;
   font-size: 25px;
 
  background-color: pink;
  padding-left: 2px;
    
    
}
.items:hover{
    color: blueviolet;
}



#list{
    /* border: 3px solid goldenrod; */
    display: flex;
    /* width: fit-content; */
    flex-direction: column;

    margin: auto;
   
}

.status{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;
}

.Status{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;
}
.status > div{
  
  margin: 10px;
  
  
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}

.Status > div {
    margin: 10px;
}
.status > div >img {
    height: 180px;
    width: 200px;
}


#buy{
    background-color: rgb(188, 158, 215);
    font-size: medium;
    margin: 10px;
}


.mahakal{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;


}
.mahakal > img{
    margin: 10px;
    height: 200px;
    width: 200px;

}
.mahakal > video{
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 10px;

}
#about > li{
    margin: 10px;
    background-color: rgb(201, 72, 72);
}

#shiv{
  justify-self: center;
}

#ytvdo{
    width: 50%;
    
    border-radius: 10px;
    display: block;
    margin: auto;
   
}